BasedOnStyle: LLVM
AccessModifierOffset: 0
AlignConsecutiveAssignments:
  Enabled: true
  AcrossComments: true
  AlignCompound: true
  AlignFunctionPointers: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossComments: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossComments: true
  AlignFunctionPointers: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossComments: true
  AlignCompound: true
  AlignFunctionPointers: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossComments: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
BitFieldColonSpacing: After
BreakBeforeConceptDeclarations: Allowed
BreakBeforeInlineASMColon: Always
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
IncludeBlocks: Regroup
IndentExternBlock: Indent
IndentPPDirectives: BeforeHash
IndentRequiresClause: false
IndentWidth: 4
InsertBraces: true
InsertNewlineAtEOF: true
LineEnding: LF
NamespaceIndentation: All
PointerAlignment: Left
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpacesInContainerLiterals: false
